@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<p>Chai Hong</p>

<address>
    <strong>Email:</strong> <a href="mailto:chai.photography@outlook.com">chai.photography@outlook.com</a><br />
    
    <br />

    <form action="http://www.facebook.com/addfriend.php">
        <input type="hidden" name="id" value="689436962" />

        <strong><input type="submit" value="Connect with me on Facebooks" /></strong>

    </form>

</address>



